.bestMovies {
  @apply relative;
}

.slider {
}

.film {
  @apply flex justify-between gap-8 text-right relative;

  @media (max-width: 640px) {
    @apply flex-col gap-4;
    .filmImage {
      max-height: 100%;
    }
    .filmTitle {
      @apply text-center;
    }
  }
  &Image {
    max-height: 90vh;
    min-width: 250px;
  }

  &Content {
    @apply flex flex-col items-end gap-6;
  }

  &Title {
    @apply mt-6 text-3xl font-bold;
  }

  &Rate {
    @apply flex gap-4;
  }
}

.filmControllers {
  @apply absolute z-10 flex gap-6 bottom-0 right-0 sm:bottom-8 sm:right-8 sm:scale-150;
  @media (max-width: 640px) {
      @apply left-0;
  }
  &Arrow {
    @apply text-brand-red;
  }
  &Prev,
  &Next {
    @apply scale-100;
  }
  &Active {
    @apply scale-150 text-2xl pb-3 font-bold text-brand-red dark:text-brand-red;
  }
}