

// header, burger, header_body
.header {
  @apply py-5 fixed top-0 left-0 w-screen z-50;
  background-color: rgba(255, 255, 255, 0.2);
  height: 88px;

  &Burger {
    @apply transition-all block sm:hidden w-8 h-8 bg-brand-red border-2 border-transparent rounded-3xl cursor-pointer;
    &:active {
      @apply scale-150;
    }
    &.active {
      @apply bg-transparent border-brand-red;
    }
  }
  &Body {
    @apply flex justify-between items-center;
  }

  .theme {
    @apply flex gap-x-4
  }
}

// header_links
.header {
  &Burger + .headerLinks {
    top: 88px;
    left: -200%;
    @apply fixed sm:relative transition-all sm:top-0 sm:left-0
    flex flex-col sm:flex-row gap-4
    w-screen h-screen sm:w-full sm:h-full
    bg-brand-red sm:bg-transparent;
    .headerLinks_link {
      @apply dark:text-dark-text text-light-text px-4 py-2 transition-all;
      &:hover,
      &[aria-current='page'] {
        @apply text-dark-text dark:text-dark-text bg-brand-red rounded-xl;
      }
    }
  }

  &Burger.active + .headerLinks {
    @apply left-0 p-6 gap-8;
    .headerLinks_link {
      &:active {
        @apply text-dark-text bg-brand-red rounded-md;
      }
      &[aria-current='page'] {
        @apply text-amber-400 bg-brand-red rounded-md;
      }
    }
  }
}


[data-mode="dark"] {
  .header {
    background-color: rgba(0, 0, 0, 0.2);
  }
}