
.film {
  @apply grid gap-3;
  grid-template:
      'img content'
      'des des'
      'sug sug';
  @media (max-width: 640px) {
    @apply flex flex-col items-center;
    .film_content {
      @apply items-center;
    }
    .film_title {
      @apply text-center;
    }
  }

  &_image {
    width: 300px;
    grid-area: img;
    @apply rounded-md overflow-hidden;
  }

  &_content {
    grid-area: content;
    @apply flex flex-col items-end gap-3;
  }

  &_description {
    grid-area: des;
  }

  &_title {
    @apply text-end;
  }

  a:hover {
    @apply text-brand-red;
  }

  &_torrents {
    @apply flex gap-3 flex-wrap;
    a:hover {
      @apply border-transparent bg-brand-red text-dark-text;
    }
  }

  &_genre {
    @apply border-2 border-brand-red p-2 h-max rounded-3xl flex justify-center items-center flex-wrap cursor-text;
    transition: all linear 0.2s;

    &:hover {
      @apply border-transparent bg-brand-red text-dark-text;
    }
  }

  &_suggestions {
    grid-area: sug;
    &_films {
      @apply flex flex-wrap justify-around gap-6;
    }
  }

  .divider {
    @apply border-t-dark-text-hover dark:border-t-light-text-hover
  }
}