
.film {
  @apply relative p-4 bg-light-block rounded-xl h-max dark:bg-dark-block;
  &_rate {
    @apply absolute top-2 right-2 z-10 rounded-circle bg-brand-red p-2 text-dark-text;
  }
  &_title {
    max-width: 230px;
    @apply mx-auto flex gap-2 justify-between mt-2;
    a {
      transition: all linear 0.2s;
      &:hover {
        @apply text-dark-text-hover dark:text-light-text-hover;
      }
    }
  }
  img {
    min-width: 230px;
    min-height: 345px;
    @apply bg-light-block dark:bg-dark-block flex justify-center items-center rounded-md overflow-hidden;
  }
}